.meetHeading {
  text-align: center;
  padding: 2rem 0;
  font-size: 4rem;
  font-weight: 500;
}

.persons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* 700px / 16 = 43.75em */
@media screen and (max-width: 43.75em) {
  .persons {
    flex-direction: column;
  }
}
